.body {
  padding: 5vw 20vw;
  background: #fff;
  color: #000;
  font-size: 1.3rem;
}
.img {
  display: block;
  width: 100%;
  height: 100%;
}
.memes-slider {
  display: flex;
  flex-direction: column;
  gap: 5vw;
  overflow: hidden;
}
.memes-slider__images {
  display: flex;
  transition: 1s;

}
.memes-slider__image {
  min-width: 60vw;
  height: 50vh;
}
.memes-slider__footer {
  display: flex;
  align-items: center;
}
.memes-slider__texts {
  display: flex;
  width: 0vw;
  transition: 1s;
}
.memes-slider__text {
  min-width: 60vw;
}
.memes-slider__radio-buttons{
  width: 60vw;
  display: flex;
  justify-content: end;
  z-index: 1;
}
.memes-slider__label{
  padding: 1vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  transition: transform 1s;
  margin: -0.1vw;
}
.memes-slider__label:active {
  transform: scale(1.4);
  transition: transform 0.3s;
}

@media screen and (max-width: 800px) {
  .memes-slider__radio-buttons {
      justify-content: center;
  }
  .memes-slider__text {
    margin: 10vw 0 0 0;
  }
  .memes-slider {
    gap: 0;
  }
}

@media (hover:hover) {
  .memes-slider__input:hover {
    cursor: pointer;
  }
  .memes-slider__input:checked {
    cursor: auto;
  }
  .memes-slider__label:hover {
    cursor: pointer;
    transform: scale(1.2);
    transition: 0.3s;
  }
  .memes-slider__label:has(.memes-slider__input:checked):hover {
    transform: scale(1);
    cursor: auto;
  }
  .memes-slider__label:active {
  transform: scale(1.4);
  transition: transform 0.3s;
  }
}

.memes-slider:has(#radio1:checked) > .memes-slider__images{
  transform: translateX(0);
}
.memes-slider:has(#radio1:checked) > .memes-slider__footer > .memes-slider__texts{
  transform: translateX(0);
}
.memes-slider:has(#radio2:checked) > .memes-slider__images{
  transform: translateX(-60vw);
}
.memes-slider:has(#radio2:checked) > .memes-slider__footer > .memes-slider__texts{
  transform: translateX(-60vw);
}
.memes-slider:has(#radio3:checked) > .memes-slider__images{
  transform: translateX(-120vw);
}
.memes-slider:has(#radio3:checked) > .memes-slider__footer > .memes-slider__texts{
  transform: translateX(-120vw);
}
.memes-slider:has(#radio4:checked) > .memes-slider__images{
  transform: translateX(-180vw);
}
.memes-slider:has(#radio4:checked) > .memes-slider__footer > .memes-slider__texts{
  transform: translateX(-180vw);
}
.memes-slider:has(#radio5:checked) > .memes-slider__images{
  transform: translateX(-240vw);
}
.memes-slider:has(#radio5:checked) > .memes-slider__footer > .memes-slider__texts{
  transform: translateX(-240vw);
}
