.body {
  padding: 5vw 20vw;
  background-color: antiquewhite;
}
.img {
  display: block;
  width: 100%;
  height: 100%;
}
.memes-slider {
  display: flex;
  flex-direction: column;
  gap: 5vw;
  overflow: hidden;
}
.memes-slider__images {
  display: flex;
  transition: 1s;

}
.memes-slider__image {
  min-width: 60vw;
  height: 50vh;
}

.memes-slider__footer {
  display: flex;
  align-items: center;
}
.memes-slider__texts {
  display: flex;
  width: 0vw;
  transition: 1s;
}
.memes-slider__text {
  min-width: 60vw;
}
.memes-slider__radio-buttons{
  width: 60vw;
  display: flex;
  justify-content: end;
  z-index: 1;
}
.memes-slider__label{
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: antiquewhite;
  transition: transform .3s;
}
@media (hover:hover) {
  .memes-slider__input:hover {
    cursor: pointer;
  }
  .memes-slider__input:checked {
    cursor: auto;
  }
  .memes-slider__label:hover {
    transform: scale(1.3);
    cursor: pointer;
  }
  .memes-slider__label:has(.memes-slider__input:checked):hover {
    transform: scale(1);
    cursor: auto;
  }
}

.memes-slider:has(#radio1:checked) > .memes-slider__images{
  transform: translateX(0);
}
.memes-slider:has(#radio1:checked) > .memes-slider__footer > .memes-slider__texts{
  transform: translateX(0);
}
.memes-slider:has(#radio2:checked) > .memes-slider__images{
  transform: translateX(-60vw);
}
.memes-slider:has(#radio2:checked) > .memes-slider__footer > .memes-slider__texts{
  transform: translateX(-60vw);
}
.memes-slider:has(#radio3:checked) > .memes-slider__images{
  transform: translateX(-120vw);
}
.memes-slider:has(#radio3:checked) > .memes-slider__footer > .memes-slider__texts{
  transform: translateX(-120vw);
}
.memes-slider:has(#radio4:checked) > .memes-slider__images{
  transform: translateX(-180vw);
}
.memes-slider:has(#radio4:checked) > .memes-slider__footer > .memes-slider__texts{
  transform: translateX(-180vw);
}
.memes-slider:has(#radio5:checked) > .memes-slider__images{
  transform: translateX(-240vw);
}
.memes-slider:has(#radio5:checked) > .memes-slider__footer > .memes-slider__texts{
  transform: translateX(-240vw);
}
